@import url(./reset.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 28px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 48px;
  color: #000000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}

.header {
  position: fixed;
  width: 100%;
  background: #ffffff;
  z-index: 1;
  padding: 13px 0;
}

.nav {
  flex-grow: 1;
}

.lang {
  margin-right: 50px;
}

.lang__link,
.menu__link,
.side-bar__link {
  text-decoration: none;
  color: #000000;
  transition: all 0.3s;
}

.lang__link{
  font-family: "Tourney", sans-serif;
  font-weight: 600;
  font-size: 22px;
}

.menu {
  gap: 10px;
}

.menu__item:not(:first-child)::before{
  content: "/";
  font-weight: bold;
  display: inline-block;
  transform: scaleY(0.6) rotate(-17deg);
}

.menu__link {
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.03em;
}

.lang__link:hover {
  color: #C24747;
}

.menu__link:hover,
.side-bar__link:hover {
  color: #ff9900;
}

.menu__link:active,
.side-bar__link:active {
  text-shadow: 0 0 4px #ff9900, 0 0 10px #ffcc66;
}

.main {
  padding-top: 160px;
  padding-bottom: 20px;
}

.main .flex-container {
  justify-content: space-between;
  align-items: flex-start;
}

.side-bar {
  position: sticky;
  top: 160px;
  left: 0;
  max-width: 390px;
  padding: 0 10px;
}

.side-bar__item {
  padding-bottom: 10px;
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: 70px;
}

.content {
  max-width: 785px;
  padding-top: 20px;
}

.content::before {
  content: "";
  position: fixed;
  top: 150px;
  right: calc((100vw - 1200px) / 2 - 250px);
  width: 760px;
  height: 760px;
  background: url("../assets/img/bg-picture.png") no-repeat;
  z-index: -1;
  overflow: visible;
}

.section {
  scroll-margin-top: 180px;
  padding-bottom: 100px;
}

.section__title,
.section__note {
  display: inline-block;
}

.section__title::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  background: #000000;
  width: 100px;
  height: 8px;
}

.section__title,
.side-bar__item {
  position: relative;
  font-family: "Francois One", sans-serif;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.section__title {
  margin-bottom: 40px;
}

.section__note {
  font-family: "Farro", sans-serif;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 0.04em;
  transform-origin: left bottom;
  transform: translateY(-1em) scale(0.6);
}

.section__text {
  margin-bottom: 40px;
}

.section__text:only-of-type,
.section__text:last-child {
  margin-bottom: 0px;
}

.underline-text {
  text-decoration: underline;
}

.italic-text {
  font-style: italic;
}

.bold-text {
  font-weight: 700;
}

.highlight-text {
  background: #d8d8d8;
  padding: 0.2em 0;
}

.pizza-icon {
  max-width: 30px;
  vertical-align: baseline;
}